@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
*{
    margin: 0px;
    font-size: 100%;
    font-family: "Poppins", sans-serif;
}
header{
    margin-top: 1.25vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header a{
    text-decoration: none;
}
.header-menu a:hover{
    text-decoration: overline;
    background-color: rgba(128, 128, 128, 0.089);
    border-radius: 10px;
    cursor: pointer;
}
.card-text{
    color: white;
    text-align: center;
    font-size: larger;
    align-items: center;
   
}
.separar{
    text-align: center;
    font-size: 1.50rem;
    font-weight: 600;
}
.container3{
    display: flex;
    align-items: center;
    padding: 1.55rem;
}
@media only screen and (min-width: 300px) and (max-width: 615px) {
    .header-img{
        width: 20%;
        padding: 10px;
    }
    .header-item{
        color: #343f74;
        text-decoration: dashed;
        font-weight: 600;
        font-size: 14px;
        padding: 12px;
    }
    .separar{
        text-align: center;
        font-size: 1.50rem;
        font-weight: 600;
        padding-top: 1.50em ;
    }
    .card-group .card{
        padding: 1em;
        align-items: center;
        text-align: center;
        margin: 3rem;
        background-color: rgba(192, 186, 186, 0.144);
    }
    .card-title{
       font-weight: 500;
       font-size: 19.25px;
    }
    .card-text-sp{
        color: black;
    }  
}